SSH_HOST='<remote-host>'
SSH_PORT='22'
SSH_USER='<remote-user>'
SSH_PASSWORD='<fill-password>'
WORKDIR='~'

SSH_MCP_TIMING='1'
SSH_GROUP='dev'
SSH_AUTH_MODE='password'
SSH_KEY=''

MCP_PORT='3010'
MCP_TOKEN='test-123456'

DEVSPACE_CONTROL_PLANE='https://www.astmars.com'
DEVSPACE_TUNNEL_TOKEN='<tunnel-token>'
TUNNEL_ID='tunnel_<32-lowercase-hex>'

DEVSPACE_BROWSER='chrome'

DEVSPACE_SSO_WAIT_SECONDS='180'